<!DOCTYPE html>
<html>
  <head>
    <title>TechBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav_wrapper">
        <%= link_to "Home", main_index_path %>
        <%= link_to "Posts", posts_path  %>
        <%= link_to "New Post", new_post_path  %>
      </div>
      
    </nav>
    <%= yield %>
  </body>
</html>
